[core]
	editor = vi
[user]
	name = Richard Crowley
	email = r@rcrowley.org
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	stat = status
	ci = commit
	co = checkout
	up = !sh -c 'git pull && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
