[alias]
	ci = commit
	co = checkout
	lg = log --abbrev-commit --all --date=relative --graph --pretty='format:%C(yellow)%h%d%Creset %s %C(cyan)%cr%Creset'
	stat = status
[color]
    ui = auto
[color "branch"]
    current = magenta
    remote = blue
[color "diff"]
    frag = cyan
    meta = blue
    whitespace = red reverse
[color "status"]
    changed = yellow
    untracked = red
[core]
	editor = vi
[user]
	name = Richard Crowley
	email = r@rcrowley.org
	signingkey = 53D2F050
