{% block title %}About{% endblock %}

{% block content %}
<section>
<h1>About</h1>

<p>Danville, Kentucky &rarr; Washington University in Saint Louis &rarr; San Francisco.&nbsp; Flickr, OpenDNS, <a href="http://devstructure.com">DevStructure</a>, Square, and Betable engineering alumnus.&nbsp; While I'm trained as a hardware engineer I've made my career on the Internet where I've gravitated towards operations and infrastructure and been repelled by browsers, HTML, and CSS.</p>

<p>Today I manage the fantastically talented operations engineering team at <a href="https://slack.com">Slack</a>.</p>

<p>I can always be reached at <a href="mailto:r@rcrowley.org">r@rcrowley.org</a> and am passably good at responding in a timely fashion.&nbsp; My <a href="http://rcrowley.org/rcrowley.gpg">public key</a> is on <a href="http://pgp.mit.edu/pks/lookup?op=vindex&amp;search=0x37AAAB8853D2F050">pgp.mit.edu</a> and <a href="https://keybase.io/rcrowley">Keybase</a> should it come to that.</p>
</section>
{% endblock %}

{% block tagline %}{% endblock %}
