{% block title %}About{% endblock %}

{% block content %}
<section>
<h1>About</h1>
<p>Until I get my own Wikipedia page, this&#8217;ll have to do.&nbsp; I&#8217;m a Southerner by birth, born in Danville, Kentucky.&nbsp; I went to Washington University in Saint Louis, graduated, and moved to San Francisco.&nbsp; I&#8217;ve worked for Flickr and OpenDNS, spoken on scalability, and nerded out over many a beer.&nbsp; In February 2010 I started <a href="http://devstructure.com/">DevStructure</a>.&nbsp; I can always be reached directly at <a href="mailto:r@rcrowley.org">r@rcrowley.org</a>.</p>
</section>
{% endblock %}

{% block tagline %}{% endblock %}
